* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.backgroundGray {
    background: linear-gradient(to right, #FAE7F1, #EDE7F2, #FEF0EC);
}

.divTitulo {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 3rem;
}

.logo {
    background: #212121;
    padding: 1rem;
    border-radius: 80px;
}

.divTitulo p {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.divTitulo h1 {
    font-size: 6.5rem;
    text-wrap: nowrap;
}

.divTitulo h2 {
    font-size: 5rem;
    color: aqua;
    text-wrap: nowrap;
}

.divSubtitulo {
    background: #212121;
    padding: 1rem;
    border-radius: 20px;
}

.divSubtitulo p {
    font-family: "Permanent Marker", cursive;
    font-size: 1.5rem;
    color: #E6C7F4;
}

.divButton1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divButton1 a {
    font-family: "Playwrite CU", cursive;
    text-decoration: none !important;
    color: #212121;
    font-weight: 700;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    padding: 1rem;
    background: #44da4c;
    border-radius: 30px;
    transition: 0.3 ease-in-out;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.divButton1 a:hover {
    background: #212121;
    color: #44da4c;
}

.containerSVG {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-circle {
    fill: #E6C7F4;
}


.gear, .trader {
    position: absolute;
    fill: #DA4494;
    animation: rotate 5s linear infinite; 
}

.lightBulb {
    position: absolute;
    fill: #DA4494;
    animation: float 3s ease-in-out infinite;
}

.dude {
    animation: float1 3s ease-in-out infinite;
}


.gear-reverse {
    animation-direction: reverse; 
    left: 10%;
} 

/* Animação de rotação */
@keyframes rotate {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

/* Animação de flutuação para o lightbulb */
@keyframes float {
    0%, 100% {
        transform: translateY(10px); 
        transform: translateX(100px);
    }
    50% {
        transform: translateY(-10px); 
        transform: translateX(-50px);
    }
}  

@keyframes float1 {
    0%, 100% {
        transform: translateY(-5.5px);
        transform: translateX(-40px);
    }
    50% {
        transform: translateY(15.5px);
        transform: translateX(40px);
    }
}

.bordertop {
    border-top: 1px solid #E6C7F4;
}

.divInfo {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.divInfo h3, .divInfo p{
    color: #22053D;
}

.divVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
}

.divVideo h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.divInfo2, .divImg {
    margin-top: 2rem;
}

.divInfo2 h3{
    font-size: 5rem;
    font-size: 4rem;
    margin-bottom: 3rem;
    color: #44da4c;
}

.divInfo2 p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.liTitulo {
    font-size: 2rem;
    color: #44da4c;
}

.liTexto {
    color: #22053D;
}

.img1 {
    border-radius: 20px;
}

.backgroundWhite {
    background: #F6F5FA;
}

.tituloIndicado {
    margin-top: 2rem;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
    color: #44da4c;
}

.divIndicado {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin-bottom: 3rem;
}

.divIndicado h3 {
    color: #44da4c;
    font-size: 2.3rem;
    margin-top: 1rem;
}

.divIndicado p {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.backgroundLista {
    background: #212121;
}

.tituloLista, .tituloRotina {
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #44da4c;
    text-align: center;
    font-size: 4rem;
}

.lista {
    display: flex;
    align-items: flex-start;
    color: #EDE7F2;
    gap: 1rem;
    list-style: none; 
    padding-left: 2.5rem;
    margin-top: 2rem;
}

.lista li {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
}

.lista li::before {
    content: '●';
    color: #FF6347;
    font-size: 1em;
    position: absolute;
    left: 7%;
    top: -20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: chartreuse;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
}

li h3 {
    color: #44da4c;
    font-size: 1.5rem;
}

.containerRotina {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.divRotina {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.divRotina h3 {
    padding: 1rem;
    background: #22053D;
    color: #44da4c;
    border-radius: 50%;
    width: 75px; 
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.um {
    opacity: 0.6;
}

.dois {
    opacity: 0.7;
}

.tres {
    opacity: 0.8;
}

.quatro {
    opacity: 1;
}

.divRotina h4 {
    font-size: 1.5rem;
    padding: 1rem;
}

.divRotina p {
    color: #44da4c;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.divLifeTime {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 7rem;
    padding: 2rem;
    background: #F6F5FA;
    border-radius: 20px;
}

.divImgLifeTime {
    padding: 1rem;
    background: #FE296F;
    border-radius: 40px;
    margin-left: 2rem;
}

.divTextoLifeTime {
    display: flex;
    flex-direction: column;
}

.divTextoLifeTime h3 {
    font-size: 2.4rem;
}

.divTextoLifeTime p {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.backgroundGradient {
    background: linear-gradient(180deg, #FFF8F4 0%, #FFF8F4 50%, #FFF5F5 60%, #FDEFF6 70%, #F0E8F4 80%, #FDEDF3 90%, #ECE6F1 100%);
}

.div50Off {
    padding: 1rem;
    text-align: center;
    background: #FF2970;
    color: #ECE6F1;
    border-radius: 100px;
    position: relative;
    width: 10rem;
    height: 15%;
    top: -8%;
}

.div50Off h3 {
    font-size: 3.4rem;
}

.divTexto1 {
    margin-top: -4rem;
    margin-bottom: 3rem;
}

.divTexto1 h3, .divTexto2 h3, .divTexto3 h3 {
    font-size: 3.5rem;
    color: #22053D;
}

.divTexto1 h3 {
    letter-spacing: 15px;
}

.divTexto1 p {
    font-size: 2rem;
    color: #FF2970;
}

.divTexto2 {
    margin-bottom: 2rem;
}

.divTexto3 {
    margin-bottom: 1rem;
}

.divTexto2 p {
    font-size: 2rem;
    color: #22053D;
    font-family: "Montserrat", sans-serif;
}

.divTexto3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
}

.divTexto3 h3 {
    font-size: 3rem;
}

.risco {
    text-decoration: line-through;
}

.divTexto3 p {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.garantia {
    padding: 0.5rem;
    border: 1px solid #FE296F;
    color: #FE296F;
    border-radius: 10px;
    width: 70%;
    font-size: 1.3rem;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.garantia:hover {
    background: #FE296F;
    color: #212529;
}

.divPicPay {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 5rem;
}

.div1 h3, .div2 h3 {
    font-size: 2.5rem;
}

.div1 p, .div2 p {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.textoInvestimento {
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.exclamacao {
    background: #44da4c;
    color: #212121;
    border-radius: 100px;
    padding: 0.1rem 0.4rem;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    position: relative; 
}

.exclamacao::after {
    content: "O valor final pode sofrer alteração por causa da variação do IOF. Essa diferença acontece por conta da incidência do OIF (imposto sobre Operações Financeiras), um imposto obrigatório e cobrado pelo governo sobre todas as operações de financiamento.";
    position: absolute;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #212121;
    color: #44da4c;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.8rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 3;
    pointer-events: none; 
    font-family: "Montserrat", sans-serif;
    width: 20rem;
}

.exclamacao:hover::after {
    opacity: 1;
    visibility: visible;
}

.containerFormulario {
    padding: 2rem;
    background: #F6F5FA;
    border-radius: 20px;
    margin-top: 7rem;
    width: 70%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.tituloInscricao {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2.3rem;
}

.headerFormulario {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.headerFormulario p {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

.divFormualario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.divFormualario input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 8px;
    border: 1px solid snow;
    height: 3.3rem;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
}

.divSelect {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 7% !important;
    height: 20px !important;
    border: 2px solid #22053D;
    border-radius: 4px;
    background-color: #22053D;
    cursor: pointer;
    position: relative;
    align-self: flex-start;
}

.checkbox:checked {
    background-color: #44da4c;
    border-color: #44da4c;
}

.checkbox:checked::after {
    content: '✓';
    font-size: 18px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divSelect p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
}

.divButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.buttonInscreverse {
    padding: 0.5rem;
    border-radius: 50px;
    border: none;
    background: #FE296F;
    width: 75%;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
}

.buttonInscreverse:hover {
    background: #212529;
    color: #FE296F;
}

.video {
    width: 100%; 
    max-width: 768px;
    height: 27rem;
}

.backgroundPurple {
    background: #22053D;
    margin-top: -3rem;
}

.containerFooter1, .containerFooter2, .containerFooter3, .containerFooter4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem !important;
}

.containerFooter4 {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
}

.subDivFooter, .subDivFooter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tituloFooter, .tituloFooter2 {
    color: whitesmoke;
    font-weight: 700;
}

.tituloFooter2 {
    margin-left: -4rem;
}

.ulFooter {
    margin-left: 1rem;
}

.ulFooter a {
    text-decoration: none;
    color: #44da4c;
    font-size: 1.5rem;
}

.ulFooter a:hover, .subDivFooter a:hover {
    color: #5F27BC;
}

.subDivFooter a {
    text-decoration: none;
    font-family: "New Amsterdam", sans-serif;
    font-size: 1.5rem;
}

.divFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.divContato {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 3rem;
}

.divRedes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.subDivContato p {
    color: #AB9FB5;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1rem;
}

.subDivContato a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    color: whitesmoke;
    transition: 0.3s ease-in-out;
}

.subDivContato a:hover {
    color: #AB9FB5;
}

.divRedes {
    padding: 1rem;
    background: #44da4c;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.divRedes a img {
    transition: filter 0.3s ease;
}

.divRedes a img:hover {
    filter: invert(35%) sepia(65%) saturate(500%) hue-rotate(240deg) brightness(90%) contrast(85%);
}

@media (max-width: 1366px) {
    .divTitulo h1 {
        font-size: 5rem;
    }

    .divTitulo h2 {
        font-size: 5rem;
        margin-top: 3rem;
    }

    .containerFormulario {
        width: auto;
    }

    .garantia {
        width: auto;
    }

    .div1 h3, .div2 h3 {
        font-size: 2rem;
    }
}

@media (max-width: 1114px) {
    .divContent {
        width: 100%;
    }

    .containerSVG {
        display: none;
    }

    .divTitulo h1 {
        font-size: 5rem;
    }

    .divTitulo h2 {
        font-size: 3rem;
    }

    .img1 {
        width: -webkit-fill-available;
    }

    .divTexto1 h3 {
        letter-spacing: 2px;
    }

    .containerFormulario {
        width: auto;
    }

    .divTexto3 h3 {
        font-size: 1.7rem;
    }

    .garantia {
        width: auto;
        font-size: 0.9rem;
    }

    .div1 h3, .div2 h3 {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .divTitulo h1 {
        font-size: 5rem;
        text-wrap: wrap;
    }

    .divTitulo h2 {
        font-size: 4rem;
        text-wrap: wrap;
    }

    .img1 {
        border-radius: 20px;
        width: -webkit-fill-available;
    }

    .lista {
        flex-direction: column;
        margin-left: 0rem;
    }

    .lista li::before {
        display: none;
    }

    .containerRotina {
        flex-direction: column;
    }

    .divInfo2 h3 {
        font-size: 3rem;
    }

    .tituloIndicado {
        font-size: 3.5rem;
    }

    .divLifeTime {
        flex-direction: column;
    }

    .div50Off {
        height: 16%;
    }

    .divTexto1 h3, .divTexto2 h3, .divTexto3 h3 {
        font-size: 3rem;
    }

    .divTexto1 h3 {
        letter-spacing: 5px;
    }

    .divTexto3 {
        gap: 0rem;
    }

    .divTexto3 h3 {
        font-size: 2rem;
    }

    .garantia {
        width: auto;
        font-size: 1rem;
    }

    .div1 h3, .div2 h3 {
        font-size: 1.1rem;
    }
    
    .containerFormulario {
        margin-top: auto;
        width: auto;
        margin-bottom: 3rem;
    }

    .video {
        width: auto; 
        height: auto; 
    }

    .headerFormulario p {
        font-size: 0.8rem;
    }

    .containerSVG {
        display: none;
    }

    .tituloLista {
        margin-bottom: auto;
    }

    .tituloLista, .tituloRotina {
        font-size: 3.3rem;
    }

    .divIndicado {
        align-items: center;
    }

    .divFooter {
        flex-direction: column;
    }

    .divContato {
        gap: 1rem;
        flex-direction: column;
        margin-bottom: 3rem;
    }
}
